<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ABZ Hardware Shop | Products</title>
</head>
<body>
<table>
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    <tr th:each="product:${products}">
        <td th:text="${product.id}">Id</td>
        <td th:text="${product.name}">Name</td>
        <td th:text="${product.desc}">Desc</td>
        <td th:text="${product.price}">Price</td>
    </tr>
</table>
</body>
</html>